@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------------------------------*/
html {
    background-color:rgba(122,191,191,.5);
}

h1, h2, h3 {
    text-transform:uppercase;
    font-family:"Bebas Neue", sans-serif;
}

h1 {
    font-size:40px;
    text-align:center;
    margin-bottom:15px;
}

h2 {
    font-size:30px;
    text-align:center;
    margin-bottom:15px;
}

#navbar h2, #social h2, #social p, footer h2 {
    visibility:hidden;
}

h3 {
    font-size:25px;
}

nav a, nav span, menu li, #social li, footer {
    font-family:"Bebas Neue", sans-serif;
    font-size:20px;
}

p, dd, li, nav, input {
    font-family: "Montserrat", sans-serif;
    font-weight:400;
}

dt {
    font-family: "Montserrat", sans-serif;
    font-weight:700;
}

body {
    width:414px;
    margin:0 auto;
    background-color:#F2F2F2;    
    display:flex;
    flex-direction:column;
}

menu {
    height:30px;
    width:100%;
    display:inline-flex;
    justify-content:space-evenly;
    list-style-type:none;
    text-transform:uppercase;
    padding-bottom:40px;
}

menu li {
    color:#EB5428;
    text-align:center;
    width:60px;
}

menu li:nth-of-type(4) {
    width:105px;
}

#about img {
    width:100%;
}

#about p, #details, #ingredients, #directions {
    margin:5px;
    margin-bottom:20px;
}

#side-dishes {
    height:100%;
    width:100%;
    display:inline-flex;
    flex-direction:column;
    background-color:#7ABFBF;
}

#side-dishes h2 {
    padding-top:10px;
}

#side-dishes section {
    margin:10px;
    position:relative;
    text-align:left;
}

#side-dishes img {
    float:left;
    padding-right:20px;
    height:75px;
    width:75px;
} 

#side-dishes h3 {
    padding-bottom:10px;
}

#side-dishes p {
    padding-bottom:5px;
}

#navbar {
    background-color:#FFFFFF;
    width:100%;
    box-shadow:1px 1px 4px 0 rgba(0,0,0,.1);
}

#navbar #hamburger {
    display:block;
    float:left;
    padding:10px 20px;
    text-decoration:none;
    
}

#navbar li a {
    display:block;
    padding:20px 20px;
    text-decoration:none;
}

#navbar ul {
    margin:0;
    padding:0;
    list-style:none;
    background-color:#FFFFFF;
    overflow: hidden;
    max-height: 0;
    transition: max-height .2s ease-out;
    clear:both;
}
#navbar label {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}
#navbar label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}
#navbar label span:before, #navbar label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
#navbar label span:before {
    top: 5px;
}
#navbar label span:after {
    top: -5px;
}
#navbar input {
    display: none;
}
#navbar input:checked ~ #navbar ul {
    max-height: 500px;
}
#navbar input:checked ~ #navbar label span {
    background: transparent;
}
#navbar input:checked ~ #navbar label span:before {
    transform: rotate(-45deg);
}
#navbar input:checked ~ #navbar label span:after {
    transform: rotate(45deg);
}
#navbar input:checked ~ #navbar label:not(.steps) span:before, #navbar input:checked ~ #navbar label:not(.steps) span:after {
    top: 0;
}

#navbar {
    order:1;
}

header {
    order:3;
}

form {
    order:2;
}

menu {
    order:4;
}

footer {
    width:100%;
}

footer img {
    height:200px;
    width:200px;
}