@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------------------------------*/
html {
    background-color:rgba(122,191,191,.5);
}

h1, h2, h3 {
    text-transform:uppercase;
    font-family:"Bebas Neue", sans-serif;
}

h1 {
    font-size:40px;
    text-align:center;
}

h2 {
    font-size:30px;
    text-align:center;
}

h3 {
    font-size:25px;
}

nav a, nav span, menu li, #social li, footer {
    font-family:"Bebas Neue", sans-serif;
    font-size:20px;
}

p, dd, li, nav, input {
    font-family: "Montserrat", sans-serif;
    font-weight:400;
    font-size:16px;
}

dt {
    font-family: "Montserrat", sans-serif;
    font-weight:700;
    font-size:16px;
}

nav h2, #social p, footer h2 {
    visibility:hidden;
}

body {
    width:414px;
    margin:0 auto;
    background-color:#F2F2F2;    
    display:flex;
    flex-direction:column;
}

nav {
    display:grid;
    grid-template-columns:135px 135px 135px;
    min-width:414px;
    background-color: #ffffff;
    box-shadow:0px 3px 3px #bbb;
    position:fixed;
    top:0;
    margin:auto;
    z-index:5;  
    order:1;
}

#logo {
    display:inline-block;
    justify-self:center;
    grid-column:2/3;
    grid-row:1/2;
    background-color:#EB5428;
    padding:5px 65px 7px 65px;
    
}

#sign {
    display:block;
    position:relative;
    text-align:center;
    grid-column:3/4;
    grid-row:1/2;
    margin-right:65px;
    right:-55px;
    bottom:-5px;
    text-decoration:none;
    color:#000000;
}

#sign a {
    width:55px
}

#sign a:hover {
    background-color:#EB5428;
    color:#FFFFFF;
}

nav ul {
    padding:0;
    overflow:hidden;
    list-style:none;
    max-height:0;
    grid-column:2/3;
    grid-row:2/3;
    justify-self:center;
}

nav li {
    text-align:center;
}

nav li:hover {
    background-color:#EB5428;
    color:#FFFFFF;
}

nav li img {
    display:none;
}

nav li a {
    display:block;
    padding:20px;
    text-decoration:none;
    color:#EB5428;
    transition: background-color .2s ease-out;
}

nav li a:hover {
    background-color:#EB5428;
    color:#FFFFFF;
}

nav label {
    cursor: pointer;
    display: inline-block;
    position:absolute;
    user-select: none;
    grid-column:1/2;
    grid-row:1/2;
    top:-1px;
    left:30px;
    margin-top:10px;
}
label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, label span:after {
    background: #ffffff;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
}
nav input {
    display: none;
}
nav input:checked ~ ul {
    max-height: 550px;
}

form {
    display:flex;
    justify-content:center;
    order:2;
    text-align:center;
    width:auto;
    margin:auto;
    position: relative;
    bottom:-100px;

}

form input {
    border-radius:1px;
    width:255px;
    height:28px;
    border-color:#EB5428;
}
form button {
    height:34px;
    border:none;
    background-color:#EB5428;
}

header {
    font-size:40px;
    padding-top:120px;
    order:3;
}

menu {
    height:auto;
    width:100%;
    text-transform:uppercase;
    padding:25px 20px 10px 0;
    display:grid;
    grid-template-columns:50px 50px 50px 50px;
    grid-template-rows:1fr;
    justify-content:space-evenly;
}

menu li {
    list-style-type:none;
    text-align:center;
}

menu li a {
    display:block;
    color:#EB5428;
    text-decoration:none;
}

menu li a:hover {
    background-color:#EB5428;
    color:#FFFFFF;
}

main {
    order:4;
    width:100%;
}

header img {
  width:100%;
}

header p {
    margin:5px 10px 15px 10px;
    line-height:23px;
}

#details {
    display:grid;
    gap:5px;
    margin-bottom:10px;  
}

#details h2 {
    margin-bottom:3px;
}

#details dl {
    margin-left:10px;
}

#details dt { 
    padding-right:20px;
    float:left;
}

#ingredients-directions {
    margin:0 15px 15px 15px;
}

#ingredients h2 {
    margin-bottom:10px;
}

#ingredients ul, #directions ol {  
    margin-left:10px;
}

#ingredients li {
    list-style-type:square;   
    padding-bottom:13px; 
    line-height:18px;   
}

#directions h2 {
    margin-bottom:10px;
}

#directions li:nth-child(-n + 3) {  
  line-height:20px; 
  padding-bottom:15px;
}

#side-dishes {
    width:100%;
    display:grid;
    grid-template-rows:repeat(5,auto);
    background-color:#7ABFBF;
}

#side-dishes h2 {
    margin-top:10px;
}

#side-dishes section {
    margin-top:30px;
    position:relative;
    text-align:left;
    transition:background-color .4s ease 0.1s;
}

#side-dishes section:hover {                                               
    background-color:rgba(255,165,0,.5); 
}

#side-dishes img {
    float:left;
    padding-right:20px;
    height:85px;
    width:85px;
} 

#side-dishes h3 {
    padding-bottom:10px;
}

#side-dishes p {
    padding-bottom:5px;
}

footer {
    order:5;
}

#social {
    background-color:#FFFFFF;
}

#social ul{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    padding-bottom:20px;
}

#social li {
    list-style-type:none;
    text-align:center;
}

#social li a {
    display:block;
    text-decoration:none;
    color:#EB5428;
}

#social li a:hover {
    background-color:#EB5428;
    color:#FFFFFF;
}

#copyright {
    width:100%;
    height:auto;
    margin:0;
    padding:0;
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows:repeat(2,auto);
    background-color:#FFFFFF;
    text-align:center;
    text-transform:uppercase;
    font-family:"Bebas Neue", sans-serif;
    font-size:20px;
}

#copyright img {
    height:200px;
    width:200px;
    justify-self:center;
}

@media screen and (min-width:768px){
    body {
        width:768px;
    }

    form {
        position:fixed;
        top:-580px;
        right:200px;
        z-index:10;
        height:60px;
    }
    
    form input {
        border-radius:1px;
        width:250px;
        height:30px;
        border-color:#EB5428;
    }

    form button {
        height:36px;
        border:none;
        background-color:#EB5428;
    }

    nav #logo {
        grid-column:1/2;
        grid-row:1/2;
        background-color:#EB5428;
        margin:0;
        padding:5px;
    }

    nav #sign {
        grid-column:7/8;
        grid-row:1/2;
        transform:scale(0.8);
        width:50px;
    }

    nav {
        padding-bottom:30px;
        min-width:768px;        
        display:grid;
        grid-template-columns:repeat(7,auto);
        grid-template-rows:1fr 1fr;
        position:fixed;      
    }  
        
    nav ul {
        max-height: 0;
        overflow:visible;
        display:flex;
        justify-content:space-evenly;
        grid-column:1/8;
        grid-row:2/3;    
    }
        
    nav input:checked ~ ul {
        max-height: 500px;
    }

    nav label {
        display:none;
    }

    nav input {
        display:none;
    }

    nav li img {
        position:relative;
        width:45px;
        height:45px; 
        display:list-item;
        right:-5px;
        padding-bottom:5px;
    }

    nav li {
        padding-right:11px;

    }

    nav li a {
        display:inline-block;
    }    
    
    nav li a:hover {
        background-color:#EB5428;
        color:#FFFFFF;
        height:60px;
    }

    h1 {
        padding:35px 0 15px 0;
    }

    header {
        text-align:left;
        margin:30px 15px 0 15px;
        order:3;
    } 
    
    menu {
        gap:50px;
        padding:15px 0 15px 0;
        background-color:rgba(255, 255, 255, .8);
        width:738px;
        position:absolute;
        z-index:3;
    }

    #details dt { 
        margin-left:270px;
    }

    #ingredients-directions {
        display:grid;
        grid-template-columns:28% 70%;
        margin-right:30px;
        margin-bottom:0;
    }

    #directions li:nth-child(-n + 3) {  
        line-height:23px; 
      }

    #side-dishes {
        margin-bottom:0;
    }

    #side-dishes div {
        display:inline-grid;
        grid-template-columns:1fr 1fr;
    }
    
    #side-dishes section {
        margin:20px 10px 15px 10px;
        position:relative;
        text-align:left;
        transition:background-color .4s ease 0.1s;
    }
    
    #side-dishes section:hover {                                               
        background-color:rgba(255,165,0,.5); 
    }
    
    #side-dishes img {
        float:left;
        padding-right:10px;
        height:90px;
        width:90px;
    } 
    
    #side-dishes h3 {
        margin-top:10px;
        padding-bottom:10px;
    }
    
    #side-dishes p {
        padding-bottom:10px;
    }

    #side-dishes dl {
        display:inline-grid;
        grid-template-columns:60px 1fr;
        align-items:center;
        
    }

    footer {
        display:grid;
        background-color:#FFFFFF;
        grid-template-columns:1fr 1fr;

    }

    #social {
        grid-column:2/3;
        grid-row:1/2;
        padding-top:30px;
    }

    #social ul {
        position:relative;
        top:-50px;
    }

    #social li a:hover {
        background-color:#EB5428;
        color:#FFFFFF;
        height:60px;
    }

    #copyright {
        grid-row:1/2;
    }
}

@media screen and (min-width:1280px){
    body {
    width:1280px;
    }

    nav {
        min-width:1280px;
        display:flex;
        padding:10px 0 0 0;
    }

    nav ul {
        position: relative;
        top:-25px;
        
    }

    #logo {
        position:relative; 
        left:-156px;
        top:-10px;
        margin:0;
        padding:30px;
        background-color:#EB5428;
    }

    #sign {
        position:relative;
        right:-155px;
        top:-10px;
    }

    form {
        position:relative;
        top:150px;
        left:5px;
        z-index:0;
    }

    header {
        display:grid;
        grid-template-columns:repeat(3,auto);
        grid-template-rows:repeat(3,auto);
        margin-left:0;
        margin-right:5px;
    }    
    
    h1 {
        text-align:center;
        grid-row:1/2;
        grid-column:1/4;
    } 

    menu {
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:50px 50px 50px 50px;
        width:120px;
        height:auto;
        background-color:#FFFFFF;
        border-style:solid;
        border-radius:6px;
        border-color:#EB5428;
        position:relative; 
        grid-row:2/4;
        grid-column:1/2; 
    }

    header img {
        float:left;
        grid-column:2/3;
        grid-row:2/4;
    }

    header p {
        margin-top:15px;
        width:630px;
    }

    header p:first-of-type {
        grid-column:3/4;
        grid-row:2/3;
    }

    header p:last-of-type {
        grid-column:3/4;
        grid-row:2/3;
        margin-top:120px;
    }


   #details {
    width:100%;
   }
    
    #details h2 {
        background-color:#000000;
        color:rgba(122,191,191,.5); 
        padding:5px;
        margin:0;
    }

    #time {
        display:flex;        
        flex-direction:row;
        justify-content:space-evenly;
        background-color:#000000;
        color:rgba(122,191,191,.5);
        margin-top:-5px;
        width:100%;
        gap:80px;
    }

    #time dl {
        padding-bottom:10px;
    }

    #time dt, #time dd {
        margin:0;
    } 

    #author dt {
        margin-left:30px;    
    }

    #serving dd {
        margin-left:7px;
    }

    #ingredients-directions {
        background-color:#F2F2F2;
        width:100%;
        grid-template-columns:28% 77%;;
        margin:20px auto 0 auto;
        padding-top:10px;
        top:-135px;
    }

    #ingredients ul {
        margin-left:25px;
    } 

    #directions {
        position:relative;
        left:-100px;
    }
    
    #directions ol {  
        margin-left:25px;
    }

    #side-dishes {
        top:-135px;
    }

    #side-dishes section {
            padding-left:10px;   
    }

    #side-dishes div {
        display:inline-grid;
        grid-template-columns:repeat(4, 285px);
        column-gap:35px;
        justify-self:center;
    }

    #side-dishes img {
        top:40px;
        padding-bottom:25px;
        height:225px;
        width:225px;
    } 

    #side-dishes p {
        width:220px;
    }

    footer {
        padding:0;
        margin:0;
    }

    #social {
        padding-top:50px;
    }

    #copyright img {
        justify-self:left;
        padding-left:10px;
        padding-top:30px;
    }

    #copyright small {
        position:relative;
        top:-200px;
        left:-50px;
    }
}