@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
/*ol, ul {
    list-style: none;
}*/
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*--------------------------------------------------------*/
html {
    background-color:rgba(122,191,191,.5);
}

h1, h2, h3 {
    text-transform:uppercase;
    font-family:"Bebas Neue", sans-serif;
}

h1 {
    font-size:40px;
    text-align:center;
    margin-bottom:15px;
}

h2 {
    font-size:30px;
    text-align:center;
}

nav h2, #social h2, #social p, footer h2 {
    visibility:hidden;
}

h3 {
    font-size:25px;
}

nav a, nav span, menu li, #social li {
    font-family:"Bebas Neue", sans-serif;
    font-size:20px;
}

p, dd, li, nav, input {
    font-family: "Montserrat", sans-serif;
    font-weight:400;
}

dt {
    font-family: "Montserrat", sans-serif;
    font-weight:700;
}

body {
    width:414px;
    margin:0 auto;
    background-color:#F2F2F2;    
    display:flex;
    flex-direction:column;
}

header {
    order:3;
}
/*
nav {
    display:inline-flex;
    flex-direction:row;
    justify-content:space-evenly;
    background-color:#FFFFFF;
    min-width:414px;
    box-shadow:0px 3px 3px 0 #BBB;
    position:fixed;
    top:0;
    z-index:5;
    order:1;
}
#dropdown {
    text-decoration:none; 
    
}

nav li a {
    display:block;
    padding:20px;
    text-decoration:none;
    text-align: center;
    color:#EB5428;
}

nav li img {
    display:none;
}

nav ul {
    grid-area: ;
    padding:0;
    list-style:none;
    overflow: hidden;
    max-height: 0;
    /*transition: max-height .2s ease-out;
    clear:both;
}

nav label {
    cursor: pointer;
    display: inline-block;
    position: relative;
    user-select: none;
    bottom:20px;
    left:20px;
}

label span {
    background-color: #ffffff;
    display: block;
    height: 2px;
    position: relative;
    transition: background-color .2s ease-out;
    width: 18px;
}

label span:before, nav label span:after {
    background: #ffffff;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    /*transition: all .2s ease-out;
    width: 100%;
}

nav label span:before {
    top: 5px;
}
nav label span:after {
    top: -5px;
}

nav input {
    display: none;
}

nav input:checked ~ ul {
    max-height: 500px;
}

nav input:checked ~ nav label span {
    background: transparent;
}
nav input:checked ~ nav label span:before {
    transform: rotate(-45deg);
}
nav input:checked ~ nav label span:after {
    transform: rotate(45deg);
}
nav input:checked ~ nav label:not(.steps) span:before, nav input:checked ~ nav label:not(.steps) span:after {
    top: 0;
}
*/

form {
    order:2;
    text-align:center;
    padding-bottom:20px;
    display:inline-flex;
    justify-content: center;
}

form input {
    border-radius:2px;
    border-color:#EB5428;
}
form button {
    height:22px;
    border:none;
}
menu {
    height:30px;
    width:100%;
    display:inline-flex;
    justify-content:space-evenly;
    list-style-type:none;
    text-transform:uppercase;
    padding-bottom:40px;
    order:4;
}

menu li {
    text-align:center;
    width:60px;
}

menu li a {
    color:#EB5428;
    text-decoration:none;
}

menu li:nth-of-type(4) {
    width:105px;
}

#about {
    order:5;
}

#about img {
    width:100%;  
}

#about p {
    margin:5px 10px 15px 10px;
    line-height:23px;
}

#details {
    display:grid;
    grid-template-rows:repeat(6);
    gap:5px;
    margin-bottom:15px;  
    order:6;
}

#details h2 {
    margin-bottom:7px;
}

#details dl {
    margin-left:10px;
}

#details dt { 
    padding-right:20px;
    float:left;
}

#container {
    margin:15px;
    order:7;
}

#ingredients h2 {
    margin-bottom:15px;
}

#ingredients ul, #directions ol {  
    margin-left:10px;
}

#ingredients li {
    list-style-type:square;   
    padding-bottom:13px; 
    line-height:18px;   
}

#directions h2 {
    margin-bottom:20px;
}

#directions li:nth-child(-n + 3) {  
  line-height:20px; 
  padding-bottom:15px;
}

#side-dishes {
    width:100%;
    display:grid;
    grid-template-rows:repeat(5);
    background-color:#7ABFBF;
    margin-bottom:15px;
    order:8;
}

#side-dishes h2 {
    margin-top:10px;
}

#side-dishes section {
    margin-left:10px;
    margin-top:30px;
    position:relative;
    text-align:left;
}

#side-dishes img {
    float:left;
    padding-right:20px;
    height:75px;
    width:75px;
} 

#side-dishes h3 {
    padding-bottom:10px;
}

#side-dishes p {
    padding-bottom:5px;
}

#footer-container {
    background-color:#FFFFFF;
    order:9;
}

#social ul{
    width:100%;
    display:inline-flex;
    justify-content:space-evenly;
    list-style-type:none;
    padding-bottom:20px;
}

#social li {
    text-align:center;
    width:60px;
}

#social a {
    text-decoration:none;
    color:#EB5428;
}

footer {
    width:100%;
    background-color:#FFFFFF;
    text-align:center;
    text-transform:uppercase;
    font-family:"Bebas Neue", sans-serif;
    font-size:20px;
}

footer img {
    height:200px;
    width:200px;  
}

@media screen and (min-width:768px){
    body {
        width:768px;
    }

    header {
        text-align:left;
    }

    nav img {
        width:50px;
        height:50px; 
    }

    nav ul{
        width:100%;
        display:inline-flex;
        justify-content:space-evenly;
        list-style-type:none;
        padding-bottom:20px;
    }

    nav li {
        text-align:center;
        width:60px;
    }

    #details dt { 
        margin-left:270px;
    }

    #container {
        order:6;
        display:grid;
        grid-template-columns:28% 70%;
        margin-right:30px;
        margin-bottom:0;
    }

    #directions li:nth-child(-n + 3) {  
        line-height:23px; 
      }

    #side-dishes {
        margin-bottom:0;
    }

    #side-dishes div {
        display:inline-grid;
        grid-template-columns:1fr 1fr;
    }
    
    #side-dishes section {
        margin:20px 10px 15px 10px;
        position:relative;
        text-align:left;
    }
    
    #side-dishes img {
        float:left;
        padding-right:10px;
        height:90px;
        width:90px;
    } 
    
    #side-dishes h3 {
        margin-top:10px;
        padding-bottom:10px;
    }
    
    #side-dishes p {
        padding-bottom:10px;
    }

    #side-dishes dl {
        display:inline-grid;
        grid-template-columns:60px 1fr;
        align-items:center;
    }

    #footer-container {
        display:flex;
        flex-direction:row-reverse;
        width:100%;
    }

    #social {
        width:60%
    }

    footer {
        width:55%;
    }

    footer img {
        height:165px;
        width:165px;
        margin-top:40px;  
    }
   
}